﻿@model PerformanceCreation
@using GCTProject.Models

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Performance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form method="post" enctype="multipart/form-data" asp-controller="Performances" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriceBand" class="control-label"></label>
                <input asp-for="PriceBand" class="form-control" />
                <span asp-validation-for="PriceBand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiveDate" class="control-label"></label>
                <input asp-for="LiveDate" class="form-control" />
                <span asp-validation-for="LiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeRestriction" class="control-label"></label>
                <select asp-for="AgeRestriction" asp-items="Html.GetEnumSelectList<AgeGroup>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload a picture</p>
                    <input asp-for="Picture" type="file" name="file" />
                </div>
            </div>
            @*
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" asp-action="UploadFile"/>
            </div>
        </div>
            *@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
