﻿
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@model IEnumerable<Performance>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    int index = (int)ViewData["Index"];
    int count = 0;
    int noOfPerf = (int)ViewData["NumberOfPerformances"];
}

<span >Onion</span>
<button>Click me</button>
<div class="container-fluid" id="mainContent">
    @for (int i = 0; i < index; i++)
    {
        <div class="card-deck">
            @for (int n = 0; n < 3; n++)
            {

                if (count < noOfPerf)
                {
                    <div class="card mb-3 text-center" style="max-width: 20rem; margin:10px;">
                        <img class="card-img-top" style="padding:5px;" src="@Url.Action("RenderPhoto", "Home", new { photoId = Model.ElementAt(count).Id })" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Title: @Html.DisplayFor(model => model.ElementAt(count).Name)</h5>
                            <p class="card-text">@Html.DisplayFor(model => model.ElementAt(count).Description)</p>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Play Time: @Html.DisplayFor(model => model.ElementAt(count).LiveDate)</li>
                            <li class="list-group-item">Price Range: @Html.DisplayFor(model => model.ElementAt(count).PriceBand)</li>
                            <li class="list-group-item">Age Restriction: @Html.DisplayFor(model => model.ElementAt(count).AgeRestriction)</li>
                        </ul>
                        <div class="card-body">
                            @if (SignInManager.IsSignedIn(User))
                            {

                                @if (User.IsInRole("SalesStaff"))
                                {
                                    <form action="/Booking/Charge" method="POST">
                                        <script src="//checkout.stripe.com/v2/checkout.js"
                                                class="stripe-button"
                                                data-key="@Stripe.Value.PublishableKey"
                                                data-locale="auto"
                                                data-description="Sample Charge"
                                                data-amount="500">
                                        </script>
                                    </form>
                                }
                                else
                                {
                                    <a class="card-link" asp-route-id="@Model.ElementAt(count).Id" onclick="this.innerHTML = 'Added'">Add To Basket</a>
                                    <a class="card-link" asp-controller="Booking" asp-action="Buy" asp-route-id="@Model.ElementAt(count).Id" title="Buy Tickets">Buy Tickets</a>
                                    
                                }

                            }
                            else
                            {
                                <a class="card-link" asp-controller="Account" asp-action="Login" title="Login">Login To Buy Tickets</a>
                            }


                        </div>
                    </div>
                }
                else
                {
                    break;
                }
                count++;
            }
        </div>
    }
</div>
<script language="javascript" type="text/javascript">
    
    $(document).ready(function () {
        //$("span").click(function () {
        //    $(this).hide();
        //});
        $("button").click(function(){
                if($("span").text().toString() != "Added");
                    $("span").text("Added");
        });
        //$("#mainContent").on("click", ".baskets", function () {
        //    var self = $(this).closest("a");
        //    var child = self.children();
        //    var el = child.find(".baskets");
        //    if (el.text().toString() != "Add To Basket") {
        //        el.text("Add To Basket");
        //    }
        //    else {
        //        el.text("Added");
        //    }
        //});
    });
</script>