﻿@model IEnumerable<TicketsInBasket>

@{
    ViewData["Title"] = "Basket";
}

<h1>Basket</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformanceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformanceTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a asp-action="DeleteTicket" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button asp-action="ChargeBasket" type="submit" class="btn btn-default">Checkout</button>
