﻿@model BuyTicket


@{
    ViewData["Title"] = "Buy";
    int rows = (int)ViewData["Rows"];
    int columns = (int)ViewData["Columns"];
    int count = 0;
    int count1 = 0;
}

<h1>Buy Ticket</h1>
<hr />


<form method="post" asp-controller="Booking" asp-action="Buy">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Chosen Performance: </label>
                @Html.DisplayFor(model => model.PerformanceName)
            </div>
            <div class="form-group">
                <label class="control-label">Performance Date and Time: </label>
                @Html.DisplayFor(model => model.LiveDate)
            </div>
            <div class="form-group">
                <label>Select how many seats you wish to book:</label>
                @Html.DropDownListFor(m => m.ManySeats, Enumerable.Range(1, 24).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { id = "numberOfSeats", onclick = "javascript:setSeats();" })
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                @Html.DropDownListFor(m => m.chosenRows[count], @Model.rowTags, "Select Row", new { @class = "pos0" })
                @Html.DropDownListFor(m => m.chosenColumns[count], @Model.columnsTags, "Select Seat", new { @class = "pos0" })
            </div>

        </div>
        @for (int i = 0; i < Model.chosenRows.Count() / 8; i++)
        {
        <div class="row">
            @for (int k = 0; k < Model.chosenRows.Count(); k++)
            {
                count1++;
                <div class="col-8">
                    @Html.DropDownListFor(m => m.chosenRows[count], @Model.rowTags, "Select Row", new { @class = "pos" + count1, style = "display:none;" })
                    @Html.DropDownListFor(m => m.chosenColumns[count], @Model.columnsTags, "Select Seat", new { @class = "pos" + count1, style = "display:none;" })
                </div>
            }

        </div>
        }
    </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center" style="border:2px solid black;">
                    Stage
                </div>
            </div>
        </div>
        <br />
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    Seating Plan
                </div>
            </div>
            <br />
            @for (int i = 1; i <= rows; i++)
            {
                <div class="row">
                    <div class="col-4 col-sm text-center mb4" style="padding:10px;">Prices Row @Html.DisplayFor(model => model.rowNames[i - 1]): @Html.DisplayFor(model => model.Costs[i - 1]) &#163;
                    </div>
                    </div>
                    <div class="row">

                        @for (int j = 1; j <= columns; j++)
                        {
                            <div class="col-10 col-sm" style="padding:2px;">
                                <span style="background-color:@(Model.BookedSeats.ElementAt(count).Booked == true ? "red" : "white"); height:20px; width:20px; padding:4px; border:2px solid black;">
                                    @Html.DisplayFor(model => model.Seats.ElementAt(count).RowName)
                                    @Html.DisplayFor(model => model.Seats.ElementAt(count).ColumnNumber)

                                </span>
                            </div>
                            count++;
                        }
                    </div>
                    <br />
                    }

                    <div class="form-group">
                        <input type="submit" value="Buy Now" class="btn btn-primary" />
                    </div>
                </div>
</form>
<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

<script>
    var seats = 0;
    function setSeats() {
        var count1 = $('#numberOfSeats').val();
       
            for (var i = 23; i > 0; i--) {
                $(".pos" + i).hide();
            }

        for (var i = 1; i < count1; i++)
        {   
            $(".pos" + i).show(500);
        }
    }

    //var changeColor = function (obj) {

    //    if (obj.value < 6) {
    //        obj.style.backgroundColor = 'green';
    //    } else if (obj.value >= 6 && obj.value <= 9) {
    //        obj.style.backgroundColor = 'orange';
    //    } else if (obj.value > 9) {
    //        obj.style.backgroundColor = 'red';
    //    }

    //};
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

