﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form class="form-inline navbar-right" method="post" asp-controller="Account" asp-action="Logout" id="logoutForm">
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Details" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-controller="Booking" asp-action="Basket" title="Manage">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Basket
            </a>
        </li>
        @if (User.IsInRole("SalesStaff") || User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Performances" asp-action="Index" title="Performances">Performances</a>
            </li>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Seats" asp-action="Index" title="Seats">Seating Plan</a>
            </li>
        }
        @if (User.IsInRole("Manager"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Users" asp-action="Index" title="Users">Manage Users</a>
            </li>
        }
        <li class="nav-item">
            <button type="submit" class="nav-link btn btn-link text-dark">Log out</button>
        </li>
    </ul>
</form>
}
else
{
<ul class="navbar-nav navbar-right">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
</ul>
}